.page-container {
  padding-top: 9rem;
  position: relative;
}
.top {
  margin: auto;
  margin-top: 3rem;
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.path_bg {
  width: 90%;
  height: auto;
  position: absolute;
  top: 95%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}
.page-title {
  font-family: "Clash Grotesk", sans-serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.15rem;
  line-height: normal;
  color: #313131;
  font-feature-settings: "ss03" on;
}
.about-details {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 27px;
  color: #313131;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 65%;
  /* background-color: rebeccapurple; */
}
.about-list {
  list-style: none;
  text-align: left;
  letter-spacing: -0.0375rem;
}
.bandwagon {
  font-family: "Clash Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: normal;
  font-feature-settings: "ss03" on;
  color: #313131;
  text-align: center;
  margin-top: 96px;
  letter-spacing: -0.09rem;
  margin-bottom: 32px;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 48px;
  /* margin-bottom: 36px; */
  max-width: 1200px;
  margin: 0px auto;
}

.vector {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 96px;
}

@media only screen and (max-width: 1120px) and (min-width: 481px) {
  .top {
    margin-top: 24px;
  }
  .team-container {
    width: 90%;
    justify-content: center;
  }
  .vector {
    margin-top: 48px;
  }
}
@media screen and (max-width: 480px) {
  .page-container {
    padding: 139px 0px 16px 0px;
  }
  .top {
    width: 100%;
    margin-top: 16px;
    padding: 0px 16px;
  }
  .path_bg {
    top: 50%;
    width: 100%;
  }
  .page-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
  }
  .about-details {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    text-align: center;
  }
  .bandwagon {
    font-size: 1.75rem;
    margin-top: 48px;
    line-height: normal;
  }
  .team-container {
    padding: 0px 16px;
    width: 100%;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    flex-wrap: unset;
  }
}
