.section-container {
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px;
  max-width: 1200px;
}
.section-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.section-title {
  font-family: "GT Flexa", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: normal;
  color: #313131;
  text-align: center;
  font-style: normal;
  font-feature-settings: "ss03" on;
}
.gradient-text {
  background: -webkit-linear-gradient(
    310deg,
    #92ebff 22.57%,
    #8b98ff 51.87%,
    #67fe9b 79.63%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  font-family: "GT Flexa", sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: 200;
  color: #5a5a5a;
  width: 80%;
  text-align: center;
  font-feature-settings: "ss03" on;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 100%;
}

@media only screen and (max-width: 1120px) and (min-width: 481px) {
  .section-container {
    margin: 48px auto;
    padding: 48px 16px;
  }
  .section-title {
    font-size: 2.75rem;
    line-height: normal;
  }
  .section-subtitle {
    margin-top: 8px;
  }
  .project-container {
    gap: 2%;
  }
}

@media screen and (max-width: 480px) {
  .section-container {
    margin: 0px 16px 48px 16px;
  }
  .section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    width: 296px;
    align-self: center;
    margin-top: 96px;
  }
  .section-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 296px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .project-container {
    flex-direction: column;
    flex-wrap: unset;
    align-items: center;
  }
}
